body {
    background-color: #020d18;

}

.feedback-navbar {
    background-color: rgb(1, 24, 37);
}

.feedback-navbar .nav-item {
    display: inline-block;
    margin: 0 0.8vw;
}

.feedback-navbar .nav-link {
    color: white;    
}

.insert, .update, .delete {
    color: white;
}
