body {
    background-color: #27050b;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.admin-navbar {
    background-color: #111111;
}

.admin-navbar .nav-item {
    display: inline-block;
    margin: 0 0.8vw;
}

.admin-navbar .nav-link {
    color: white;    
}

.insert, .update, .delete {
    color: black;
}

.db-btn {
    border:  #111111 solid 3px;
    border-radius: 50px;
    background-color:white;
    columns: #111111;
    margin-bottom: 2vh;
    width: 10vw;
    height: 5vh;
    font-weight: 500;
}
.form-box {
    margin: 40px;
}

