body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #27050b;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"); 
    font-weight: 500;

}

.navbar {
    background-color: #111111;
}

.navbar ul {
    margin: 0px;
}

.nav-items {
    color: white;
    display: inline-block;
    margin-right: auto;
    padding: 20px;
}

.nav-link {
	color: white;
}

.container {
    margin-top: 2vh;
}

/* .col-12 {
    background-color:  rgb(196, 230, 7);;
} */

h1 {
    color: white;
}

.feedback-btn {
    border:  #111111 solid 3px;
    border-radius: 50px;
    background-color:white;
    columns: #111111;
    margin-bottom: 2vh;
    width: 10vw;
    height: 5vh;
    font-weight: 500;
}